#logo_cont {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.logo5 {
    position: absolute;
    top: 19px;
    left: 0px;
    height: 29px;
    width: 29px;
    border: 1px solid #AAA;
    background-color: #334B14;
    z-index: 2;
}

.logo4 {
    position: absolute;
    top: 0px;
    left: 15px;
    height: 29px;
    width: 29px;
    border: 1px solid #AAA;
    background-color: #092C13;
    z-index: 3;
}

.logo6 {
    position: absolute;
    top: 38px;
    left: 25px;
    height: 29px;
    width: 29px;
    border: 1px solid #AAA;
    background-color: #557F1C;
}

.logo3 {
    position: absolute;
    top: 25px;
    left: 37px;
    height: 29px;
    width: 29px;
    border: 1px solid #AAA;
    background-color: #7D9B3D;
    z-index: 4;
}

.logo2 {
    position: absolute;
    top: 25px;
    left: 73px;
    height: 29px;
    width: 29px;
    border: 1px solid #AAA;
    background-color: #629255;
}

.logo1 {
    position: absolute;
    top: 39px;
    left: 109px;
    height: 15px;
    width: 29px;
    border: 1px solid #AAA;
    background-color: #FFF;
}

.logo_text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 69px;
    background-image: url('/images/logo2_text.gif');
    background-repeat: no-repeat;
}
