* {
    margin:0px;
    padding:0px;
}

body {
    font-family: Verdana, Arial, Helvetica;
    font-size: 11px;
    color: #333;
    background-image: url('/img/helix-gr-bg3.gif');
    background-repeat: repeat-y;
    background-color: #eee;
    margin: 0px;
    padding: 0px;
}

a {
    color: #639056;/*#74A167;*/
    text-decoration: none;
}

a:hover {
    color:#002648;
    text-decoration:none;
}

a img{
    border:none;
}

p {
    margin-top: 15px;
}

h1, h2, h3, h4{
    font-weight:normal;
}

h1{
    color: #002648;
    background-color: #c1ce98;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-left: 0.3em;
    font-size: 200%;
    border-bottom: 5px #8b8900 dotted;
    position: relative;
}

h2{
    color:#002648;
    background-color: #d8d898;
    margin: 0.3em 0;
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding-left: 0.3em;
    font-size: 130%;
    font-weight: lighter;
    border-top: 1px #c8c89e solid;
    border-bottom: 1px #c8c89e solid;
    position: relative;
}

h3{
    color:#baba00;
    padding-top:1.5em;
    font-size: 125%;
}

h4{
    color:#baba00;
    padding-top:1.5em;
    font-weight:normal;
    font-size: 115%;
}

h1 div, h2 div {
    font-size: 11px;
    color: #8b8900;
    position: absolute;
    right: 5px;
    top: 3px;
}

ol {
    position: relative;
    left: 16px;
    width: 97%;
}

ul {
    list-style: square url(/img/square2.png) outside;
    position: relative;
    left: 13px;
    width: 95%;
}

ol {
    position: relative;
    left: 25px;
    width: 95%;
}

ul.inline {
    display: inline;
}

ul.inline li {
    display: inline;
    padding: 1px;
}

hr {
    color: #EFEFEF;
    background-color: #EFEFEF;
    height: 1px;
    border: 0px;
    margin: 5px;
}

img {
    padding: 2px;
}

img.nopadding {
    padding: 0px;
}

/* Style for the cover images from papers on their abstract pages*/
img.paper_cover {
    padding: 15px;
    padding-top: inherit;
    float: left;
}

/** tables */

table {
    width: 100%;
    border: 1px solid #ccc;
    color:#333;
    background-color: #fff;
    clear:both;
    padding: 0;
    margin: 0 0 0 0;
    white-space: normal;
}

th {
    /*background-color: #e2e2e2;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #002648;*/
    border-bottom: 1px solid #CCC;
    text-align: center;
    padding:1px 4px;
}

table tr td {
    padding:4px 4px;
    vertical-align:top;
    text-align: left;
    font-family: Arial, Verdana, Helvetica;
    font-size: 11px;
    color: #333;
}

table.links tr td {
    border: 1px #ccc solid;
    background-color: #eee;
    text-align: center;
    width: 25%;
}

form table tr td {
    vertical-align: middle;
}

table tr.altRow td {
    background: #f4f4f4;
}

#cakeSqlLog td {
    text-align: left;
    padding: 4px 8px;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

#header {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border-bottom: 5px #ccc solid;
}

#body {
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
}

#chest {
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width: 809px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#footer {
    clear: both;
    position: relative;
    left: 0px;    
    background-color: #fff;
    border-top: 5px #eee dotted;
    border-bottom: 5px #eee double;
}

#credits {
    width: 160px;
    overflow: visible;
}

#search {
    position: relative;
    left: -80px;
    margin-top: 5px;
    text-align: center;
}

#logo {
    border: 1px #ccc solid;
    width: 160px;
}

.droptab {
    background-color: #eee;
    border-bottom: 1px #c8c89e solid;
    border-left: 1px #c8c89e solid;
    border-right: 1px #c8c89e solid;
    position: relative;
    top: -16px;
    padding: 3px;
}

.banner {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FFF;
    text-align: center;
}

.beg_cutout {
    font-size: 36px;
    font-variant: small-caps;
    font-weight: bold;
    color: #c1ce98;
    text-align: center;
    position: relative;
    left: 0px;
    top: 0px; 
}

.title {
    background-color: #EFEFEF;
    color: #333;
    padding-left: 5px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    font-family: Georgia, Times, Times New Roman;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.begtexttitle {
    font-size: 12px;
    font-weight: bold;
}

.begtexttitlesub {
    font-size: 11px;
    font-weight: bold;
}

.begtinytext {
    font-size: 11px;
    color: #777;
}

ul.nav_top {
    list-style-type: none;
    display: inline;
    padding: 0px;
    position: relative;
    left: -80px;
    font-variant: small-caps;
    font-size: 14px;
    font-weight: bold;
    color: #8b8900;
}

ul.nav_top li {
    display: inline;
    margin-left: 1px;
    margin-right: 1px;
}

ul.nav_top li a {
    text-decoration: none;
    color: #8b8900;
}

ul.nav_top li a:hover {
    text-decoration: none;
    color: #002648;
}

ul.nav_side {
    padding: 0px;
    position: relative;
    font-variant: small-caps;
    font-size: 14px;
    font-weight: bold;
    color: #8b8900;
}

ul.nav_side li {
    margin-left: 1px;
    margin-right: 1px;
}

ul.nav_side li a {
    text-decoration: none;
    color: #8b8900;
}

ul.nav_side li a:hover {
    text-decoration: none;
    color: #002648;
}

.framed {
    border: 1px solid #CCCCCC;
    background-color: #F5F5F5;
    padding: 3px;
}

.white-bg {
    background-color: #fff;
}

/* gallery */

#gallery-nav {
    position:relative;
}

#gallery-next span,#gallery-previous span {
    display:block;
    position:absolute;
    top: 0px;
    margin: 15px;
}

#gallery-next span {right:5px;}
#gallery-previous span {left:5px;}

#gallery-next a:hover span {
    background:url(/img/gallery/gallery-nav-right.png) center right no-repeat;
}

#gallery-previous a:hover span {
    background:url(/img/gallery/gallery-nav-left.png) center left no-repeat;
}

/* genomes page */

div.popup {
    position:absolute;
    top: 300px;
    right: -50px;
    z-index: 2;
    width: 320px;
    visibility:hidden;
    background-color: #FFF;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: move;
}

.hideme {
    display: none;
    visibility: hidden;
}

.showme {
    display: block;
    visibility: visible;
}

div.fixedsize > h3, h4 {
    padding-top: 15px;
    margin-top: 15px;
    font-size: 15px;
}

div.fixedsize {
    line-height: 15px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 16px 20px;
}

fieldset legend {
    color: #2C6877;
    font-size: 160%;
    font-weight: bold;
    padding: 0px 5px;
}

ul.tabs {
    list-style-type: none;
    display: inline;
    padding: 0px;
}

ul.tabs li {
    display: inline;
    margin-left: 1px;
    margin-right: 1px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 6px;
    position: relative;
    top: -4px;
    background: white;
}

ul.tabs li a {
    color: #2c6877;
    font-size: 160%;
    font-weight: bold;
}

ul.tabs li.unselected {
    position: relative;
    top: -5px;
}

ul.tabs li.unselected a {
    color: darkgrey;
}

tagme {}
